#conter_left_top {  width: 985px;  overflow: hidden; padding:10px; /*margin-top:10px;*/ }

    #conter_left_top ul { float: left; padding: 15px; }

        #conter_left_top ul.picture li { float: left;  margin-bottom: 10px; text-align:center; }

        #conter_left_top ul.picture { width: 420px; height: 530px; float: left; }

        #conter_left_top ul.infore { position: absolute; margin-left: 420px; text-align: left;padding-top:20px; }

            #conter_left_top ul.infore li { height: 29px; line-height: 29px;margin:10px; font-size:14px;}

                #conter_left_top ul.infore li.infor_image { height: 40px; margin-top: 10px; }

                #conter_left_top ul.infore li.text { height: 50px; border: 1px solid #d0d1a7; background-color: #feffed; padding: 10px; }

                #conter_left_top ul.infore li span { font: bold 16px Verdana,Geneva,sna-serif; color: orange; }

#conter_left_footer {
width:985px;overflow:hidden;
}
.tuijian{ border:1px #fde1bc solid; margin:20px;}
.tuijian-m{ color:#9a6610; font-weight:bold; background-color:#fff5da; line-height:30px; padding-left:10px;}
.tuijian-t{ color:#cc0000; font-weight:bold; background-color:#fff5da; line-height:30px; padding-left:10px;}
.tuijian-inf{ padding:10px; }
.tuijian-inf ul li{line-height:26px; color:#333; background:url(~/Images/d.jpg) 0 10px no-repeat; padding-left:15px;}


#center_footer_TinJin_box {
width:985px;overflow:hidden;margin-top:25px;height:460px;background-color:#fff;margin-bottom:25px;
}
#center_TinJin {
position:absolute;width:80px;height:40px;line-height:40px;background-color:rgb(0,170,136);color:#fff;font-size:18px;text-align:center;font-weight:600;
}


        /*.spfinbin {
            width: 985px;
            margin: 0px auto;
            margin-top:35px;
        }

            .spfinbin ul {
                width: 985px;
                overflow: hidden;
            }

                .spfinbin ul li {
                    float: left;
                    margin: 18px;
                    margin-left: 46px;
                }

            .spfinbin dl dd.price span {
                color: orange;
                font: bold 14px Verdana,Geneva,sans-serif;
            }

            .spfinbin dl dd.number {
                /*float: right;*/
                /*margin-top:-17px;*/
                /*position: absolute;
                /*margin-left:160px;*/
            /*}

            .spfinbin dl dd {
                margin-top: 8px;
            }*//**//***//*/
