* { margin: 0px; padding: 0px; text-decoration: none; list-style-type: none; margin: 0px auto;font-size:12px; }
a:hover { color: #ffd800; }
/*头部开始*/
#header { width: 100%; margin: 0px auto; text-align: center; }

#header_top_box { width: 100%; background-color: #fbfbfb; }

#header_top { width: 985px; height: 33px; margin: 0px auto; }

#header_top { height: 33px; }
/*头部的菜单*/
    #header_top ul { overflow: hidden; width: 985px; }

        #header_top ul li { float: left; line-height: 33px; height: 33px; }

            #header_top ul li.city { width: 760px; text-align: left; }
            #header_top ul li.header_top_menu {  }

/*头部搜索设置*/
#header_banner { width: 985px; height: 73px;  margin: 0px auto; }
    #header_banner ul { overflow: hidden; }
        #header_banner ul li { float: left; height: 73px; line-height: 73px; }
            #header_banner ul li.logo { background-image: url(../../images/logo.jpg); width: 304px; height: 73px; margin-right:120px; }
            #header_banner ul li.se {
            width:300px;
            }
            /*#header_banner ul li.se {  height: 48px; }
                #header_banner ul li.se #setxt { width: 305px; height: 40px; line-height: 40px; border: 1px solid #ff7701; text-indent:42px;background-image:url(../../images/search.jpg); background-repeat:no-repeat; }
                #header_banner ul li.se #sebtn {width:70px;height:43px;line-height:37px;background-color:#ff7701;border:none;margin-left:-4px;}*/
            #header_banner ul li.header_banner_menu { margin:0px 10px; }
.logo {
margin-top:12px;
}
/*导航条的盒子*/
#nav_box { width: 100%; height: 60px; background-color: #22ac38; }

/*导航条开始*/
#nav { width: 985px; height: 60px; background-color: #22ac38; color:#fff;}


    /*导航条的菜单的设置*/
    #nav ul li { position: relative; float: left; color: #fff; }

        #nav ul li a { text-align: center; font-size: 14px; display: block; width: 100px; height: 60px; line-height: 60px; color:#fff;font-family: "行楷";font-weight:600;}

        #nav ul li .nav_QinBue { width: 127px; }

        #nav ul li.lihoves:hover { background-color: #27e919; }

#right_li {
margin-left:510px;width:130px;
}
#right_li img {
    padding-top:10px;
float:left;
}

        #nav ul li ul { position: absolute; top: 38px; }

.copyright {
    margin-top:15px;
    width:985px;
    margin:0px auto;
    background-color:#fff;
color:#808080;
}
.client div {
margin:10px;
}
.client .hd {
margin-bottom:0px;
}